.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: inline-block;
}
.feather.s-24 {
  width: 24px;
  height: 24px;
}
.feather.s-16 {
  width: 16px;
  height: 16px;
}
.hidden {
  display: none;
}
.small-main-logo {
  max-height: 35px;
}
.visually-hidden {
  display: none;
}
.searx-navbar {
  overflow-x: auto;
  padding: 20px;
  display: grid;
  grid-gap: 50px;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto auto auto ;
}
.searx-navbar a {
  color: #29314D;
  display: inline-flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.searx-navbar a .feather {
  margin-right: 5px;
  display: inline-block;
}
html {
  position: relative;
  min-height: 100%;
  color: #29314D;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin-bottom: 80px;
  background-color: white;
}
body a {
  color: #0088CC;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
  color: #999;
}
input[type=checkbox]:checked + .label_hide_if_checked,
input[type=checkbox]:checked + .label_hide_if_not_checked + .label_hide_if_checked {
  display: none;
}
input[type=checkbox]:not(:checked) + .label_hide_if_not_checked,
input[type=checkbox]:not(:checked) + .label_hide_if_checked + .label_hide_if_not_checked {
  display: none;
}
.onoff-checkbox {
  width: 15%;
}
.onoffswitch {
  position: relative;
  width: 110px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  opacity: 0;
  position: absolute;
}
.onoffswitch-checkbox:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0px;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF !important;
  border-radius: 50px !important;
}
.onoffswitch-inner {
  display: block;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 40px;
  font-size: 20px;
  box-sizing: border-box;
  content: "";
  background-color: #EEEEEE;
}
.onoffswitch-switch {
  display: block;
  width: 37px;
  background-color: #01D7D4;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  border: 2px solid #FFFFFF;
  border-radius: 50px !important;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-right: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 71px;
  background-color: #A1A1A1;
}
.onoffswitch-checkbox:focus + .onoffswitch-label .onoffswitch-switch {
  border: 3px solid #444444;
}
main#search_content {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'results sidebar' 'results clear';
  grid-template-columns: auto minmax(350px 5 0px);
  grid-template-rows: 100% auto;
}
main#search_content.only_template_images {
  grid-template-areas: 'results' 'sidebar';
  margin-left: 20px;
  margin-right: 20px;
}
main#search_content #section__results {
  grid-area: results;
}
main#search_content #section__sidebar {
  grid-area: sidebar;
  display: inline-grid;
  grid-template-areas: 'unresponsive_engines' 'infoboxes' 'suggestions' 'link' 'result_count';
  grid-row-gap: 20px;
}
main#search_content #section__sidebar + #section_results.only_template_images {
  background-color: red;
}
main#search_content #section__sidebar #sidebar__unresponsive_engines {
  grid-area: unresponsive_engines;
}
main#search_content #section__sidebar #sidebar__infoboxes {
  grid-area: infoboxes;
}
main#search_content #section__sidebar #sidebar__suggestions {
  grid-area: suggestions;
}
main#search_content #section__sidebar #sidebar__link {
  grid-area: link;
}
main#search_content #section__sidebar #sidebar__result_count {
  grid-area: result_count;
}
#search_box {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: #A4A4A4 1px solid;
  border-radius: 7px;
}
#search_box #q {
  height: 30px !important;
  border: none !important;
  margin: 2px;
  float: left;
  width: 100%;
  padding: 20px 10px 20px 20px;
  outline: none;
  font-size: 12pt;
}
#search_box .input-group-btn {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  width: calc(40px * 2);
  border-left-color: #A4A4A4;
  border-left-style: solid;
  border-left-width: 1px;
}
#search_box #clear_search {
  border-right-color: #A4A4A4;
  border-right-style: solid;
  border-right-width: 1px;
  color: #A4A4A4;
}
#search_box #submit_search {
  color: #068922;
}
#search_box #submit_search:hover {
  color: #FFFFFF;
  background-color: #068922;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
#search_box button {
  cursor: pointer;
  padding: 0 10px;
  height: 44px !important;
  border: none;
  box-shadow: none;
  background: none;
  margin: 0;
}
#main-logo {
  max-width: 300px;
  width: 100vw;
}
#advanced-search-container {
  display: none;
  text-align: left;
  margin-bottom: 1rem;
  clear: both;
}
#advanced-search-container label,
#advanced-search-container .input-group-addon {
  font-size: 1.2rem;
  font-weight: normal;
  background-color: white;
  border: #DDD 1px solid;
  border-right: none;
  color: #666;
  padding-bottom: 0.4rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
#advanced-search-container label:last-child,
#advanced-search-container .input-group-addon:last-child {
  border-right: #DDD 1px solid;
}
#advanced-search-container input[type="radio"] {
  display: none;
}
#advanced-search-container input[type="radio"]:checked + label {
  color: #29314D;
  font-weight: bold;
  border-bottom: #01D7D4 5px solid;
}
#check-advanced:focus + label {
  text-decoration: underline;
}
#check-advanced:checked ~ #advanced-search-container {
  display: block;
}
.advanced {
  padding: 0;
  margin-top: 0.3rem;
  text-align: right;
}
.advanced label,
.advanced select {
  cursor: pointer;
}
.cursor-text {
  cursor: text !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
pre,
code {
  font-family: 'Ubuntu Mono', 'Courier New', 'Lucida Console', monospace !important;
}
/*
   this file is generated automatically by searx_extra/update/update_pygments.py 
   using pygments version 2.8.0
*/
.code-highlight .linenos {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin-right: 8px;
  text-align: right;
}
.code-highlight .linenos::selection {
  background: transparent;
  /* WebKit/Blink Browsers */
}
.code-highlight .linenos::-moz-selection {
  background: transparent;
  /* Gecko Browsers */
}
.code-highlight pre {
  line-height: 125%;
}
.code-highlight td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight .hll {
  background-color: #ffffcc;
}
.code-highlight {
  background: #282C34;
}
.code-highlight .c {
  color: #556366;
  font-style: italic;
}
/* Comment */
.code-highlight .err {
  border: 1px solid #ff0000;
}
/* Error */
.code-highlight .k {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword */
.code-highlight .o {
  color: #D19A66;
}
/* Operator */
.code-highlight .ch {
  color: #556366;
  font-style: italic;
}
/* Comment.Hashbang */
.code-highlight .cm {
  color: #556366;
  font-style: italic;
}
/* Comment.Multiline */
.code-highlight .cp {
  color: #BC7A00;
  font-style: italic;
}
/* Comment.Preproc */
.code-highlight .cpf {
  color: #556366;
  font-style: italic;
}
/* Comment.PreprocFile */
.code-highlight .c1 {
  color: #556366;
  font-style: italic;
}
/* Comment.Single */
.code-highlight .cs {
  color: #556366;
  font-style: italic;
}
/* Comment.Special */
.code-highlight .gd {
  color: #A00000;
}
/* Generic.Deleted */
.code-highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.code-highlight .gr {
  color: #FF0000;
}
/* Generic.Error */
.code-highlight .gh {
  color: #000080;
  font-weight: bold;
}
/* Generic.Heading */
.code-highlight .gi {
  color: #00A000;
}
/* Generic.Inserted */
.code-highlight .go {
  color: #888888;
}
/* Generic.Output */
.code-highlight .gp {
  color: #000080;
  font-weight: bold;
}
/* Generic.Prompt */
.code-highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.code-highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* Generic.Subheading */
.code-highlight .gt {
  color: #0044DD;
}
/* Generic.Traceback */
.code-highlight .kc {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Constant */
.code-highlight .kd {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Declaration */
.code-highlight .kn {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Namespace */
.code-highlight .kp {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Pseudo */
.code-highlight .kr {
  color: #BE74D5;
  font-weight: bold;
}
/* Keyword.Reserved */
.code-highlight .kt {
  color: #D46C72;
  font-weight: bold;
}
/* Keyword.Type */
.code-highlight .m {
  color: #D19A66;
}
/* Literal.Number */
.code-highlight .s {
  color: #86C372;
}
/* Literal.String */
.code-highlight .na {
  color: #7D9029;
}
/* Name.Attribute */
.code-highlight .nb {
  color: #BE74D5;
}
/* Name.Builtin */
.code-highlight .nc {
  color: #61AFEF;
  font-weight: bold;
}
/* Name.Class */
.code-highlight .no {
  color: #D19A66;
}
/* Name.Constant */
.code-highlight .nd {
  color: #AA22FF;
}
/* Name.Decorator */
.code-highlight .ni {
  color: #999999;
  font-weight: bold;
}
/* Name.Entity */
.code-highlight .ne {
  color: #D2413A;
  font-weight: bold;
}
/* Name.Exception */
.code-highlight .nf {
  color: #61AFEF;
}
/* Name.Function */
.code-highlight .nl {
  color: #A0A000;
}
/* Name.Label */
.code-highlight .nn {
  color: #61AFEF;
  font-weight: bold;
}
/* Name.Namespace */
.code-highlight .nt {
  color: #BE74D5;
  font-weight: bold;
}
/* Name.Tag */
.code-highlight .nv {
  color: #DFC06F;
}
/* Name.Variable */
.code-highlight .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* Operator.Word */
.code-highlight .w {
  color: #D7DAE0;
}
/* Text.Whitespace */
.code-highlight .mb {
  color: #D19A66;
}
/* Literal.Number.Bin */
.code-highlight .mf {
  color: #D19A66;
}
/* Literal.Number.Float */
.code-highlight .mh {
  color: #D19A66;
}
/* Literal.Number.Hex */
.code-highlight .mi {
  color: #D19A66;
}
/* Literal.Number.Integer */
.code-highlight .mo {
  color: #D19A66;
}
/* Literal.Number.Oct */
.code-highlight .sa {
  color: #86C372;
}
/* Literal.String.Affix */
.code-highlight .sb {
  color: #86C372;
}
/* Literal.String.Backtick */
.code-highlight .sc {
  color: #86C372;
}
/* Literal.String.Char */
.code-highlight .dl {
  color: #86C372;
}
/* Literal.String.Delimiter */
.code-highlight .sd {
  color: #86C372;
  font-style: italic;
}
/* Literal.String.Doc */
.code-highlight .s2 {
  color: #86C372;
}
/* Literal.String.Double */
.code-highlight .se {
  color: #BB6622;
  font-weight: bold;
}
/* Literal.String.Escape */
.code-highlight .sh {
  color: #86C372;
}
/* Literal.String.Heredoc */
.code-highlight .si {
  color: #BB6688;
  font-weight: bold;
}
/* Literal.String.Interpol */
.code-highlight .sx {
  color: #BE74D5;
}
/* Literal.String.Other */
.code-highlight .sr {
  color: #BB6688;
}
/* Literal.String.Regex */
.code-highlight .s1 {
  color: #86C372;
}
/* Literal.String.Single */
.code-highlight .ss {
  color: #DFC06F;
}
/* Literal.String.Symbol */
.code-highlight .bp {
  color: #BE74D5;
}
/* Name.Builtin.Pseudo */
.code-highlight .fm {
  color: #61AFEF;
}
/* Name.Function.Magic */
.code-highlight .vc {
  color: #DFC06F;
}
/* Name.Variable.Class */
.code-highlight .vg {
  color: #DFC06F;
}
/* Name.Variable.Global */
.code-highlight .vi {
  color: #DFC06F;
}
/* Name.Variable.Instance */
.code-highlight .vm {
  color: #DFC06F;
}
/* Name.Variable.Magic */
.code-highlight .il {
  color: #D19A66;
}
/* Literal.Number.Integer.Long */
.code-highlight pre {
  margin-bottom: 25px;
  padding: 20px 10px;
  background-color: inherit;
  color: inherit;
  border: inherit;
  color: #D7DAE0;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
  vertical-align: middle !important;
}
.nav-tabs.nav-justified {
  margin-bottom: 20px;
}
p {
  margin: 10px 0;
}
input.cursor-text {
  margin: 10px 0;
}
.engine-tooltip {
  display: none;
  position: absolute;
  padding: 0.5rem 1rem;
  margin: 0rem 0 0 2rem;
  border: 1px solid #ddd;
  background: white;
  font-size: 14px;
  font-weight: normal;
  z-index: 1000000;
}
th:hover .engine-tooltip,
.engine-tooltip:hover {
  display: inline-block;
}
.advanced-header {
  border-bottom: #A4A4A4 1px solid;
}
#categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#categories .category {
  display: inline-block;
  margin: 0 20px;
  position: relative;
  padding-bottom: 5px;
}
#categories .category:nth-child(1) {
  margin-left: 0 !important;
}
#categories .category:nth-last-child(1) {
  margin-right: 0 !important;
}
#categories .category input:checked + label {
  color: #068922;
}
#categories .category input:checked + label:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #068922;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.custom-select {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-items: center;
  appearance: none;
}
.custom-select .selector select {
  background: none;
  border: none;
}
.custom-select:after {
  border: solid black;
  border-width: 0 2px 2px 0;
  width: 6px;
  height: 6px;
  display: inline-block;
  padding: 2px;
  transform: translateY(100%) rotate(45deg);
  -webkit-transform: translateY(100%) rotate(45deg);
  content: '';
  right: 0;
  position: relative;
}
#search_suggestions {
  position: absolute;
  display: none;
  border: #A4A4A4 1px solid;
  border-radius: 0 0 7px 7px;
  border-top: none;
  text-align: left;
}
#search_suggestions .suggestion {
  padding: 8px 20px;
  cursor: pointer;
}
#search_suggestions .suggestion:hover {
  background-color: #A4A4A4;
}
#search_suggestions .suggestion.selected {
  background-color: #A4A4A4;
}
#search_suggestions.show {
  display: block;
}
#search_suggestions.show:not(:empty) ~ #search_box {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.infobox .infobox-url a {
  padding: 10px 15px;
  border: #A4A4A4 1px solid;
  display: block;
  margin: 0;
  border-top: none;
  font-size: 10pt;
  color: #29314D;
}
.infobox .infobox-url a:after {
  border: solid #29314D;
  border-width: 0 2px 2px 0;
  width: 8px;
  height: 8px;
  display: inline-block;
  padding: 2px;
  transform: translateY(100%) rotate(-45deg);
  -webkit-transform: translateY(100%) rotate(-45deg);
  content: '';
  float: right;
  position: relative;
}
.infobox .infobox-url:nth-last-child(1) a {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.infobox .infobox-content-wrapper {
  padding: 15px;
  border: #A4A4A4 1px solid;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.infobox .infobox-content-wrapper .infobox-title {
  color: #29314D;
  font-size: 18pt;
}
.infobox .infobox-content-wrapper .infobox-image {
  float: right;
  max-width: 150px;
  margin: 5px;
}
.infobox .infobox-content-wrapper .infobox-content {
  font-size: 10pt;
  margin-bottom: 0;
}
.links_box .links_box_urls {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto auto;
  width: 100%;
}
.links_box .links_box_urls .links_box_url {
  display: inline-block;
  width: 100%;
}
.links_box .links_box_urls .links_box_url button {
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 10px 15px;
  border: #A4A4A4 1px solid;
  margin: 0;
  border-top: none;
  font-size: 10pt;
  color: #29314D;
  background: none;
  border-right: none;
}
.links_box .links_box_urls .links_box_url:first-child button {
  border-bottom-left-radius: 7px;
}
.links_box .links_box_urls .links_box_url:nth-last-child(1) button {
  border-right: #A4A4A4 1px solid;
  border-bottom-right-radius: 7px;
}
.links_box .links_box_content_wrapper {
  padding: 15px;
  border: #A4A4A4 1px solid;
  border-radius: 7px 7px 0 0;
}
.links_box .links_box_content_wrapper .links_box_title {
  color: #29314D;
  font-size: 18pt;
}
.links_box .links_box_content_wrapper input {
  border: #A4A4A4 1px solid;
  border-radius: 7px;
  width: 100%;
  appearance: none;
  padding: 10px;
}
.suggestion_box .suggestion_box_title {
  color: #29314D;
  font-size: 18pt;
}
.suggestion_box .suggestion_box_content {
  max-width: 20vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.suggestion_box .suggestion_box_content form {
  display: inline-block;
}
.suggestion_box .suggestion_box_content .suggestion_button {
  margin-top: 8px;
  margin-right: 8px;
  display: inline-block;
  padding: 10px 15px;
  background-color: #A4A4A4;
  border: none;
  border-radius: 8px;
  outline: inherit;
}
#section__results:not(.only_template_images) {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
}
#section__results:not(.only_template_images) .result:nth-child(1) {
  margin-top: 0;
}
#section__results:not(.only_template_images) .result .highlight * {
  font-weight: bold;
  font-size: 10pt;
}
#section__results:not(.only_template_images) .result .result_header {
  font-size: 16pt !important;
}
#section__results:not(.only_template_images) .result .result-content {
  margin: 0;
  font-size: 10pt;
}
#section__results:not(.only_template_images) .result .result-footer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 10pt !important;
}
#section__results:not(.only_template_images) .result .result-footer .links {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
#section__results:not(.only_template_images) .result .result-footer .links .external-link {
  margin-right: 4px;
}
#section__results:not(.only_template_images) .result .result-footer .links .result-link {
  display: flex;
  margin: 0 6px;
}
#section__results:not(.only_template_images) .result .result-footer .links img {
  max-height: 20px;
  width: auto;
  margin-right: 2px;
}
#section__results:not(.only_template_images) .result .result-footer .engines {
  flex-direction: row;
  display: inline-grid;
  grid-gap: 5px;
  grid-auto-flow: column;
}
#section__results:not(.only_template_images) .result .result-footer .engines span {
  font-size: 10pt;
  font-weight: normal;
}
#section__results.only_template_images {
  display: flex;
  flex-wrap: wrap;
}
#section__results.only_template_images .result {
  margin: 5px;
  height: 150px;
  display: inline-block;
}
#section__results.only_template_images .result img {
  max-height: 150px;
}
