main#search_content
  display: grid
  grid-gap: $spacing1
  grid-template-columns: 60% 40%
  margin: 20px
  @include mobile()
    grid-gap: $spacing1_touch
    grid-template-columns: 100%
    grid-template-rows: auto
    & > *:not(#section__results)
      justify-self: center


  #section__results
    grid-column: 1/2
    grid-row: 1/7
    // 7 to have one row that is empty in desktop mode so all other rows on the right side will be shown  directly after one another
    @include mobile()
      grid-row: 2/3


  #section__sidebar__unresponsive_engines
    grid-column: 2/3
    @include mobile()
      display: none


  #section__sidebar__infoboxes
    grid-column: 2/3
    @include mobile()
      grid-column: 1/2
      grid-row: 1/2


  #section__sidebar__suggestions
    grid-column: 2/3
    @include mobile()
      display: none


  #section__sidebar__link
    grid-column: 2/3
    @include mobile()
      width: 100%
      display: flex
      justify-content: center
      grid-column: 1/2
      grid-row: 4/5


  #section__sidebar__result_count
    grid-column: 2/3
    @include mobile()
      grid-column: 1/2
      grid-row: 5/6


  #section__results__paging
    grid-column: 1/2
    grid-row: 7/8
    justify-content: center

    @include mobile()
      grid-row: 3/4


  &.only_template_images
    grid-template-columns: 100%
    margin-left: $spacing1
    margin-right: $spacing1
    @include mobile()
      margin-left: $spacing1_touch
      margin-right: $spacing1_touch

    #section__results
      grid-column: 1/2
      grid-row: 1/2

    #section__results__paging
      grid-column: 1/2
      grid-row: 2/3

    #section__sidebar__link
      grid-column: 1/2
      grid-row: 3/4

    #section__sidebar__result_count
      grid-column: 1/2
      grid-row: 4/5

  //#section__results
  //  grid-column: 1/2 !important
  //  grid-row: 1/7 !important
  //  // 7 to have one row that is empty in desktop mode so all other rows on the right side will be shown  directly after one another
  //  @include mobile()
  //    grid-row: 2/3 !important