$c_accent: #068922
$c_accent2: #0088CC
$c_text: #29314D
$c_text-secondary: #585858
$c_lhighlight: #e3e3e3
$c_background: #fff

$border-radius: 7px
$fs-small-link: 24pt
$boxes-max-width: 450px
$spacing1: 20px
$spacing1_touch: 10px