button,
.button
  padding: 10px 30px
  border: 1px $gray solid
  border-radius: $border-radius
  display: inline-flex
  vertical-align: middle
  justify-content: center
  & .feather:not(.no-padding)
      margin-left: 0

  &.bold
    font-weight: bold
    color: $black

