@grid-gap: 20px;

main#search_content {
  display: grid;
  grid-gap: @grid-gap;
  grid-template-areas: 'results sidebar' 'results clear';
  grid-template-columns: auto minmax(350px 5  00px);
  grid-template-rows: 100% auto;

  &.only_template_images {
    grid-template-areas: 'results' 'sidebar';
    margin-left: @grid-gap;
    margin-right: @grid-gap;
  }

  #section__results {
    grid-area: results;
  }

  #section__sidebar {
    grid-area: sidebar;

    display: inline-grid;
    grid-template-areas: 'unresponsive_engines' 'infoboxes' 'suggestions' 'link' 'result_count';
    grid-row-gap: @grid-gap;

    & + #section_results.only_template_images {
      background-color: red;
    }

    #sidebar__unresponsive_engines {
      grid-area: unresponsive_engines;
    }

    #sidebar__infoboxes {
      grid-area: infoboxes;
    }

    #sidebar__suggestions {
      grid-area: suggestions;
    }

    #sidebar__link {
      grid-area: link;
    }

    #sidebar__result_count {
      grid-area: result_count;
    }
  }
}


