{% from 'penguin/macros.html' import icon %}
<form method="{{ method or 'POST' }}" action="{{ url_for('search') }}" id="search_form" role="search">
    <div class="row">
        <div id="search_box" class="search-margin">
            <input type="search" autofocus name="q" class="form-control input-lg autofocus" id="q"
                   placeholder="{{ _('Search for...') }}" aria-label="{{ _('Search for...') }}" autocomplete="off"
                   value="{{ q }}" accesskey="s">
            <button type="button" id="clear_search" class="hide_if_nojs"
                    aria-label="{{ _('Clear search') }}">{{ icon('x') }}</button>
            <button type="submit" id="submit_search" aria-label="{{ _('Start search') }}">
                <span class="hide_if_nojs">{{ icon('search') }}</span>
                <span class="hidden active_if_nojs">{{ _('Start search') }}</span>
            </button>
        </div>
        <div class="col-xs-6 col-md-2 search-margin">
            {%- include 'penguin/time-range.html' -%}
        </div>
        <div class="col-xs-6 col-md-2 search-margin">
            {%- include 'penguin/languages.html' -%}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {%- include 'penguin/categories.html' -%}
        </div>
    </div>
</form><!-- / #search_form_full -->
