
#section__results
  img
    border-radius: $border-radius

  &:not(.only_template_images)
    margin-top: $spacing1
    margin-bottom: $spacing1
    display: inline-flex
    flex-direction: column
    grid-gap: 20px
    @include mobile()
      margin-top: $spacing1_touch
      margin-bottom: $spacing1_touch

    .result-divider
      display: none
      margin: 0
      @include mobile()
        display: block
        width: 100%
        border: .01px $dim-gray solid

    .result
      &:nth-child(1)
        margin-top: 0

      .result-image
        background-size: cover
        background-repeat: no-repeat
        background-position: center
        //width: 70%
        width: 100%
        aspect-ratio: 1
        border-radius: $border-radius

      .highlight *
        font-weight: bold
        font-size: 10pt

      .result_header
        font-size: 16pt !important

      .embed_wrapper
        width: 100%
        iframe
          width: 100% !important

      .result-subheader
        font-size: 0pt
        span, time
          font-size: 10pt
        *:not(:last-child):after
          content: "•"
          padding: 0 4px
          display: inline-block

      .result-content
        margin: 0
        font-size: 10pt
        line-height: 13pt

      .result-footer
        font-size: 10pt !important

        .links
          display: flex
          align-items: center

          .favicon
            max-height: 20px
            width: auto
            margin-right: 2px

          .external-link
            text-overflow: ellipsis
            max-inline-size: 60%
            white-space: nowrap
            overflow: hidden
            display: inline-block
            margin-right: 10px

          .internal-links
            display: inline-block

            div
              display: flex

        .engines
          display: inline-flex
          gap: 5px
          grid-auto-flow: column
          align-items: end
          text-align: right
          justify-content: flex-end

          span
            font-size: 10pt
            font-weight: normal
